<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.reviewcow.applyproduct.dao.ApplicationMapper">
 	
 	<insert id="insertApplyProductByMemberIdAndSellPostId" parameterType="map">
 		INSERT INTO `application`
 		(
 			`memberId`
			,`sellPostId`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{memberId}
 			,#{sellPostId}
 			,NOW()
 		)
 	</insert>
 	
 	<select id="selectApplyProductByMemberIdAndSellPostId" parameterType="map" resultType="int">
 		SELECT
 			count(*)
 		FROM
 			`application`
 		WHERE
 			`sellPostId` = #{sellPostId}
 			<if test="memberId != null">
 			AND `memberId` = #{memberId} 
 			</if>
 	</select>
 	
 	<select id="countApplyProductbyMemberId" resultType="int">
        SELECT count(*)
        FROM `sell_post` AS A
		LEFT JOIN `application` AS B
		ON A.id = B.sellPostId
		WHERE B.`memberId` = #{memberId} 
 	</select>
 	
 	
 	<delete id="deleteApplyProductByMemberIdAndSellPostId" parameterType="map">
 		DELETE
 		FROM
 			`application`
 		WHERE
			`memberId` = #{memberId} AND
			`sellPostId` = #{sellPostId}
 	</delete>
 	<select id="selectStatusApplicantsList" parameterType="map" resultType="com.reviewcow.applyproduct.model.ManageApplicants">
 	    SELECT 
 	    A.`id` sellPostId
 	    , A.`productName`
 	    , B.`id` applicationId
 	    , B.`status` applicationStatus
 	    , B.`createdAt` applicationCreatedAt
 	    , C.`id` memberId
 	    , C.`loginId` memberLoginId
 	    , C.`name` memberName
		FROM 
			`sell_post` AS A
		RIGHT JOIN 
			`application` AS B
		ON A.`id` = B.`sellPostId`
        LEFT JOIN
			`member` AS C
        ON B.`memberId` = C.`id`     
		WHERE A.`memberId` = #{memberId}
		AND B.`status` = #{aprovalCondition}
		AND TIMESTAMPDIFF(DAY, now(), A.`endDate`) >= 0
		LIMIT ${skipLimit} ,${limit};
 	</select>
 	
 	<update id="approvalApplicantBySellpostId" parameterType="map">
 		UPDATE `application`
 		SET
 			`status` = #{status}
 		WHERE
 			`memberId` = #{memberId}
 		AND `sellPostId` = #{sellPostId};		
 	</update>
 
 </mapper>