<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.reviewcow.member.DAO.MemberMapper">
 
 	<insert id="insertMember" parameterType="com.reviewcow.member.model.MemberJoinForm">
 		INSERT INTO `member`
 		(
 		   `memberType`
		    ,`loginId`
		    ,`password`
		    ,`salt`
		    ,`name`
		    ,`email`
		    ,`address`
		    ,`telePhoneNumber`
		    ,`mobilePhoneNumber`
		    ,`createdAt`
			,`updatedAt`
 		)
 		values
 		(
 			#{loginId}
 			,#{password}
 			,#{salt}
 			,#{name}
 			,#{email}
 			,#{address}
 			,#{telePhoneNumber}
 			,#{mobilePhoneNumber}
 			,NOW()
 			,NOW()
 		)
 	
 	</insert>
 
 </mapper>