<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.reviewcow.member.dao.MemberMapper">
 
 	<insert id="insertMember" parameterType="com.reviewcow.member.model.MemberJoinForm">
 		INSERT INTO `member`
 		(
 		   `memberType`
		    ,`loginId`
		    ,`password`
		    ,`salt`
		    ,`name`
		    ,`email`
		    ,`address`
		    ,`telePhoneNumber`
		    ,`mobilePhoneNumber`
		    ,`approvalCondition`
		    ,`createdAt`
			,`updatedAt`
 		)
 		values
 		(
 			#{memberType}
 			,#{loginId}
 			,#{password}
 			,#{salt}
 			,#{name}
 			,#{email}
 			,#{address}
 			,#{telePhoneNumber}
 			,#{mobilePhoneNumber}
 			,#{approvalCondition}
 			,NOW()
 			,NOW()
 		)
 	
 	</insert>
 	
 	 <insert id="insertinfluencerMember" parameterType="com.reviewcow.member.model.MemberJoinForm">
 		INSERT INTO `influencer_member`
 		(
 		   `memberLoginId`
			,`instagramId`
			,`facebookUrl`
			,`youtubeUrl`
			,`blogUrl`
			,`twitterUrl`
			,`OtherUrl`
			,`updatedAt`
 		)
 		values
 		(
 			#{loginId}
 			,#{instagramId}
 			,#{facebookUrl}
 			,#{youtubeUrl}
 			,#{blogUrl}
 			,#{twitterUrl}
 			,#{OtherUrl}
 			,NOW()
 		)
 	
 	</insert>

 	 <insert id="insertbusinessMember" parameterType="com.reviewcow.member.model.MemberJoinForm">
 		INSERT INTO `business_member`
 		(
			`memberLoginId`
			,`businessName`
			,`businessLicenseNumber`
			,`updatedAt`
 		)
 		values
 		(
 			#{loginId}
 			,#{businessName}
 			,#{businessLicenseNumber}
 			,NOW()
 		)
 	
 	</insert>
 	<select id="selectMemberByLoginId" resultType="com.reviewcow.member.model.Member">
 		SELECT
 			`id`
			,`memberType`
			,`loginId`
			,`password`
			,`salt`
			,`name`
			,`email`
			,`address`
			,`telePhoneNumber`
			,`mobilePhoneNumber`
			,`approvalCondition`
			,`createdAt`
			,`updatedAt`
		FROM
			`member`
		WHERE
			`loginId` = #{loginId}
 	</select> 	
 	<select id="selectInfluencerMemberByLoginId" resultType="com.reviewcow.member.model.Influencer_Member">
 		SELECT	
 			`id`
			,`memberLoginId`
			,`instagramId`
			,`facebookUrl`
			,`youtubeUrl`
			,`blogUrl`
			,`twitterUrl`
			,`OtherUrl`
			,`updatedAt`
		FROM
			`influencer_member`
		WHERE
			`memberLoginId` = #{loginId}
 	</select>
 	 <select id="selectBusinessMemberByLoginId" resultType="com.reviewcow.member.model.Business_Member">
 		SELECT	
			`id`
			,`memberLoginId`
			,`businessName`
			,`businessLicenseNumber`
			,`updatedAt`
		FROM
			`business_member`
		WHERE
			`memberLoginId` = #{loginId}
 	</select>
 	<select id="selectMemberByMemberId" resultType="com.reviewcow.member.model.Member">
 		SELECT
		 	`id`
			,`memberType`
			,`loginId`
			,`password`
			,`salt`
			,`name`
			,`email`
			,`address`
			,`telePhoneNumber`
			,`mobilePhoneNumber`
			,`approvalCondition`
			,`createdAt`
			,`updatedAt`
		FROM
			`member`
		WHERE
			`id` = #{memberId};	
 	</select>
 	<select id="selectMemberList" parameterType="map" resultType="com.reviewcow.member.model.Member">
	 	SELECT
			`id`
			,`memberType`
			,`loginId`
			,`password`
			,`salt`
			,`name`
			,`email`
			,`address`
			,`telePhoneNumber`
			,`mobilePhoneNumber`
			,`approvalCondition`
			,`createdAt`
			,`updatedAt`
		FROM
			`member`
		WHERE
			`approvalCondition` = 1
		ORDER BY `createdAt` DESC
		LIMIT ${skipLimit} ,${limit};
 	</select>
 	
 	<select id="selectMemberListByMemberType" parameterType="map" resultType="com.reviewcow.member.model.Member">
	 	SELECT
			`id`
			,`memberType`
			,`loginId`
			,`password`
			,`salt`
			,`name`
			,`email`
			,`address`
			,`telePhoneNumber`
			,`mobilePhoneNumber`
			,`approvalCondition`
			,`createdAt`
			,`updatedAt`
		FROM
			`member`
		WHERE
			`approvalCondition` = 1
		AND `memberType` = #{memberType}
		ORDER BY `createdAt` DESC
		LIMIT ${skipLimit} ,${limit};
 	</select>
 	
 	
 	<select id="selectBusinessMemberList" parameterType="map" resultType="com.reviewcow.member.model.Business_Member_List">
        SELECT A.*, B.`businessName`, B.`businessLicenseNumber`
		FROM `member` AS A
		LEFT JOIN `business_member` AS B
        ON A.`loginId` = B.`memberLoginId`
        WHERE A.`memberType` = 'businessMember'
        AND A.`approvalCondition` = 0
        ORDER BY A.`createdAt` DESC
        LIMIT ${skipLimit} ,${limit};
 	</select>
 	
 	<select id="countBusinessMember" resultType="int">
 		SELECT count(*)
		FROM `member` AS A
		LEFT JOIN `business_member` AS B
        ON A.`loginId` = B.`memberLoginId`
        WHERE A.`memberType` = 'businessMember'
        ORDER BY A.`createdAt` DESC;
 	</select>
 	
 	 <select id="countMember" resultType="int">
 		SELECT count(*)
		FROM `member`
		WHERE `approvalCondition` = 1
        ORDER BY `createdAt` DESC;
 	</select>
 	
 	 <select id="countMemberByMemberType" resultType="int">
 	 	SELECT count(*)
		FROM `member`
		WHERE `approvalCondition` = 1
		AND `memberType` = #{memberType}
        ORDER BY `createdAt` DESC;
 	</select>
 	
 	<update id="updateMemberByLoginId" parameterType="com.reviewcow.member.model.MemberJoinForm">
	 	UPDATE `member`
	 		SET
	 			`email` = #{email}
	 			, `mobilePhoneNumber` = #{mobilePhoneNumber}
	 			, `updatedAt` = NOW()
	 		<if test="password != null and !password.equals('')">
	 			, `password` = #{password}
	 			, `salt` = #{salt}
	 		</if>	
	 		WHERE
	 			`loginId` = #{loginId}
 	</update>
 	 <update id="updateInfluencerByLoginId" parameterType="com.reviewcow.member.model.MemberJoinForm">
	 	UPDATE `influencer_member`
	 		SET
	 			`instagramId` = #{instagramId}
				, `facebookUrl` = #{facebookUrl}
				, `youtubeUrl` = #{youtubeUrl}
				, `blogUrl` = #{blogUrl}
				, `twitterUrl` = #{twitterUrl}
				, `OtherUrl` = #{OtherUrl}
	 			, `updatedAt` = NOW()
	 		WHERE
	 			`memberLoginId` = #{loginId}
 	</update>
 	 <update id="updateBusinessMemberByLoginId" parameterType="com.reviewcow.member.model.MemberJoinForm">
	 	UPDATE `business_member`
	 		SET
				`businessName` = #{businessName}
				,`businessLicenseNumber` = #{businessLicenseNumber}
				, `updatedAt` = NOW()
	 		WHERE
	 			`memberLoginId` = #{loginId}
 	</update>
 	
 	<update id="updateBusinessMemberById" parameterType="map">
 		UPDATE `member`
 			SET
 				`approvalCondition` = #{approvalCondition}
 			WHERE
 				`id` = #{id}
 	</update>
 	
 	<select id="selectMemberLoginIdForHelpdesk" resultType="String">
 		SELECT `loginId` 
 		FROM `member`
        WHERE `id` = #{memberId}
 	</select>
 	
 	
 </mapper>