<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.reviewcow.board.dao.NoticeMapper">
 
 	<insert id="insertNoticeByMemberId" parameterType="map">
 		INSERT INTO `notice`
 		(
 			`memberId`
			, `category`
			, `postTitle`
			, `content`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{memberId}
 			, #{category}
 			, #{postTitle}
 			, #{content}
 			, NOW()
 			, NOW()
 		);
 	</insert>
 
 	<select id="selectNoticeList" parameterType="map" resultType="com.reviewcow.board.model.Notice">
 		SELECT 
 			`id`
			, `memberId`
			, `category`
			, `postTitle`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`notice`
		ORDER BY `createdAt` DESC
		LIMIT #{skipLimit} ,#{limit};
 	
 	</select>
 	
 	<select id="countNotice" resultType="int">
 		SELECT
 			count(*)
 		FROM
 			`notice`
 	</select>
 	
 	<select id="selectNoticeByNoticeId" resultType="com.reviewcow.board.model.Notice">
 	 	SELECT 
 			`id`
			, `memberId`
			, `category`
			, `postTitle`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`notice`
		WHERE
			`id` = #{noticeId};
 	</select>
 	
 	<update id="updateNoticeByNoticeId" parameterType="map">
 		UPDATE `notice`
 		SET
 			memberId = #{memberId}
 			, category = #{category}
 			, postTitle = #{postTitle}
 			, content = #{content}
 		WHERE
 			`id` = #{id};
 	</update>
 	
 	<delete id="deleteNoticeByNoticeId">
 		DELETE FROM `notice`
 		WHERE
 			`id` = #{id};
 	</delete>
 
 
 </mapper>