<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.reviewcow.review.dao.ReviewMapper">
 
 <insert id="insertReviewByMemberId" parameterType="map">
 	INSERT INTO `review`
 	(
		`memberId`
		, `sellPostId`
		, `reviewPoint`
		, `reviewImgPath`
		, `comment`
		, `createdAt`
		, `updatedAt`
 	)
 	VALUES
 	(
 		#{memberId}
 		, #{sellPostId}
 		, #{point}
 		, #{reviewImgPath}
 		, #{comment}
 		, NOW()
 		, NOW()
 	)
 
 </insert>
 <select id="selectReviewListByMemberId" resultType="com.reviewcow.review.model.ReviewList">
		SELECT A.`id`, A.`productName`, C.`reviewPoint` , D.`point`, D.`sort`, D. `status`, D.`updatedAt`
		FROM `sell_post` AS A
		RIGHT JOIN `application` AS B
		ON A.id = B.sellPostId
        LEFT JOIN `review` AS C
        ON B.sellPostId = C.sellPostId
        LEFT JOIN `point` AS D
        ON C.sellPostId = D.sellPostId
		WHERE B.memberId = #{memberId}
		AND B.`status` = 1;  
 </select>
 
 </mapper>