@charset "EUC-KR";


#helpdesk-write .helpdesk-write-bottom-text-line {
	width: 668px;
	border-bottom: 1px solid #A0A0A0;
	height: 1px;
	margin: 15px 0 0 10px;
}

#helpdesk-write .product-select-design {
	width: 160px;
	height: 35px;
	border-radius: 6px;
}
#helpdesk-write .helpdesk-subject-input {
	width: 490px;
	margin:0 0 0 5px;
}

#helpdesk-write .helpdesk-textarea {
	width: 655px;
	height: 300px;
	margin: 0 0 0 15px;
	border: 1px solid #ced4da;
	resize: none;
}
#helpdesk-write .form-textbox {
	margin: 0 0 0 0px;
}

#helpdesk-write #helpdeskSubmitBtn {
	width: 120px;
	height: 40px;
	background-color: #1E90FF;
	border: none;
	border-radius: 8px;
	margin: 10px 30px 0 0;
	color: white;
	font-size: 13pt;
	opacity: 0.8;
}

#helpdesk-write #helpdeskSubmitBtn:hover {
	opacity: 1;
}

/* detail 영역 */
#helpdesk-write .helpdesk-content-title {
	padding: 0 0 0 0;
	height: 40px;
}

#helpdesk-write .helpdesk-content-title-child1 {
	margin: 0 0 0 0px;
	font-size: 11pt;
	width: 20%;
	height: 100%;
	background-color: rgba(0,0,0,.05);
}
#helpdesk-write .helpdesk-content-title-Rline {
	border-right: 1px solid #C0C0C0;
	height: 40px;
}
#helpdesk-write .helpdesk-content-title-child2 {
	font-size: 10pt;
	margin: 0 0 0 20px;
	background-color: #333;
	color: white;
	border-radius: 10px;
	padding: 0 10px 0 10px;
}	
#helpdesk-write .helpdesk-content-title-child3 {
	margin: 0 0 0 20px;
}
#helpdesk-write .top-line {
	border-top: 1px solid #C0C0C0;
}
#helpdesk-write .bot-line {
	border-bottom: 1px solid #C0C0C0;
}
#helpdesk-write .semi-title-margin {
	margin: 20px 0 0 20px;
}
#helpdesk-write .helpdesk-createdAt-div {
	padding: 10px 0 10px 0;
}
#helpdesk-write  .helpdesk-createdAt-text {
	margin: 0 0 0 30px;
	font-size: 10pt;
}
#helpdesk-write .helpdesk-createdAt-text2 {
	margin: 0 0 0 10px;
	font-size: 10pt;
	color: #808080;
}
#helpdesk-write .content-text-div {
	padding: 35px 0 35px 30px;
}
#helpdesk-write .helpdesk-bot-buttons {
	border: 1px solid #C0C0C0;
	border-radius: 2px;
	padding: 5px 0 5px 0;
	width: 100px;
	font-size: 11pt;
	background-color: white;
}
#helpdesk-write .helpdesk-bot-buttons:hover {
	background-color: rgba(0,0,0,.05);
}
#helpdesk-write .helpdesk-reply-div {
	border: 1px solid #C0C0C0;
}
#helpdesk-write .helpdesk-reply-div-writer {
	padding: 5px 0 5px 0;
	background-color: rgba(0,0,0,.12);
}
#helpdesk-write .helpdesk-reply-div-child1 {
	margin: 0 0 0 20px;
}
#helpdesk-write .helpdesk-reply-div-content {
	padding: 20px 0 30px 20px;
}
#helpdesk-write .disable-inputBox {
	background-color: rgb(0,0,0,0.05);
}

/* modify 영역 */
#helpdesk-write .helpdesk-modify-btn-div {
	margin: 0 30px 0 0;
}