@charset "EUC-KR";

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* 평점 영역 */
#star-rating * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#star-rating .rating-box {
/*   position: relative; */
  background: #fff;
  padding: 25px 50px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  width: 18%;
}

#star-rating .rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;

}
#star-rating .stars i {
  color: #e6e6e6;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease;
}
#star-rating .stars i.active {
  color: #ff9c1a;
}

/* 평점 영역 끝 */
#reviewList .main-table-div {
	margin: 10px 0 0 30px ;
	width: 700px;
}

#reviewList .text-margin01 {
	margin:0 0 0 0px;
	width: 18%;
}

#reviewList .text-margin02 {
	margin:0 0 0 0px;
	width: 15%;
}

#reviewList .text-margin03 {
	margin:0 0 0 0px;
	width: 47%;
}
#reviewList .text-margin04 {
	margin:0 0 0 0px;
	width: 20%;
}
#reviewList .reveiwList-content-div {
	padding: 6px 0;
	margin: 3px 0 0 0px;
	font-size:10pt;
	border-bottom: 1px solid #A0A0A0;
}

#reviewList .helpdesk-bottom-text-line {
	width: 700px;
	border-bottom: 1px solid #A0A0A0;
	height: 1px;
	margin: 15px 0 0 0px;
}

#reviewList .top-header-div {
	background-color: rgba(0,0,0,.05);
	font-size: 10pt;
	height: 30px;
	border-bottom: 1px solid #A0A0A0;
}

#reviewList .semi-title-margin {
	margin:0 0 5px 20px;
}
#reviewList .pointNone {
  pointer-events: none;
}


/* apply_product_list 영역 */

.apply_product_list  .main-table-div-applyProduct {
	margin: 20px 0 0 30px ;
	width: 700px;
}

.apply_product_list .text-margin02-circle {
	margin:0 0 0 0px;
	width: 15%;
	background-color: #333;
	border-radius: 10px;
	color: white;
}

.apply_product_list .text-margin01-applyList {
	margin:0 0 0 0px;
	width: 18%;
}
.apply_product_list .text-margin02-applyList {
	margin:0 0 0 0px;
	width: 15%;
}

.apply_product_list .text-margin03-applyList {
	margin:0 0 0 0px;
	width: 45%;
}
.apply_product_list .text-margin04-applyList {
	margin:0 0 0 0px;
	width: 17%;
}
.apply_product_list .text-margin05-applyList {
	margin:0 0 0 0px;
	width: 5%;
}

.apply_product_list .text-margin05-applyList  i {
	font-size: 16pt;
}

.apply_product_list .text-margin04-applyList.approval {
	color:#0066cc;
}
.apply_product_list .text-margin04-applyList.refuse {
	color:red;
}

/* helpdesk 영역*/
.helpdesk-div #helpdeskInquireBtn {
/* 	position: absolute; */
	width: 100px;
	height: 30px;
	background-color: #6495ED;
	border: none;
	border-radius: 8px;
	margin: 12px -25px 0 0;
/* 	margin: 20px 20px 0 84%; */
	color: white;
	font-size: 10pt;
}

/* 찜목록 영역 */

.like_product_list  .main-table-div-applyProduct {
	margin: 20px 0 0 30px ;
	width: 700px;
}

.like_product_list .text-margin02-circle {
	margin:0 0 0 0px;
	width: 15%;
	background-color: #333;
	border-radius: 10px;
	color: white;
}

.like_product_list .text-margin01-applyList {
	margin:0 0 0 0px;
	width: 20%;
}
.like_product_list .text-margin02-applyList {
	margin:0 0 0 0px;
	width: 15%;
}

.like_product_list .text-margin03-applyList {
	margin:0 0 0 0px;
	width: 45%;
}
.like_product_list .text-margin04-applyList {
	margin:0 0 0 0px;
	width: 15%;
}
.like_product_list .text-margin05-applyList {
	margin:0 0 0 0px;
	width: 5%;
}

.like_product_list .text-margin05-applyList  i {
	font-size: 16pt;
}
.like_product_list .like-thumnailImg {
	width:100px;
	height:100px;
	border-radius:15px;
	overflow:hidden;
}
.like_product_list .thumnail-100s {
	width:100%;
	height:100%;
	object-fit: cover;
}

