@charset "EUC-KR";
.category-box {
	margin: 20px 0 0 0;
	width:1200px;
}


.category-box > .category-box-child {
	
	width: 32%;
	height: 120px;
	background-color:#e9e9e9;
	border-radius: 10px;
}

.category-box-top .category-online-text {
	margin: 15px 0 0 0;
	font-size: 26pt;
}
.category-box-top .category-small-text {
	margin: 10px 0 0 0;
	color: #606060;
	font-size: 11pt;
}
.category-box-top .category-box-child:hover {
	color: white;
}