@charset "EUC-KR";

#upload-product input {
	text-align: left;
	background-color: white;
}

#upload-product .product-div-line-box {
	width: 600 px;
	border: 1px solid #A0A0A0;
	margin: 20px 0 0 30px;
	padding: 0 0 20px 0;
}
#upload-product .product-div-line-box2 {
	width: 600 px;
	border: 1px solid #A0A0A0;
	margin: 20px 0 0 30px;
	padding: 0 0 48px 0;
}

#upload-product .product-semi-title {
	font-weight: bold;
	font-size: 15px;
	margin: 10px 0 5px 12px;
}
#upload-product .red-stress-text {
	color: #CC0000;
	font-size: 12px;
	font-weight: bold;
}

#upload-product .product-div-intext {
	margin: 5px 0 5px 0;
	}
#upload-product .product-select-design {
	width: 160px;
	height: 35px;
	border-radius: 6px;
}

#upload-product .product-text-wrap-div {
	margin: 15px 0 10px 0;
}

#upload-product .product-text-wrap-div-rows {
	margin: 15px 0 15px 0;
}

#upload-product .product-text-wrap-div-rows-address {
	margin: 15px 0 15px 0;
	height: 29px;
}
#upload-product select {
	text-align: center;
	font-size: 11pt;
	color: #808080;
}
#upload-product .produc-input-box {
	width: 640px;
}
#upload-product .product-append-div {
	width: 240px;
}
#upload-product .product-append-div-addressBtn {
	width: 95px;
	margin: 0 0 0 5px;
	background-color: #e9ecef;
}
#upload-product .product-append-div-address1 {
	width: 140px;
}
#upload-product .product-append-div-address2 {
	width: 540px;
}
#upload-product .product-text-margin {
	margin:5px 8px 0 16px;
}

#upload-product .input-side-text{
	color: #404040;
	font-size: 11pt;
	margin: 10px 0 0 0;
}
#upload-product .radio-side-text{
	color: #404040;
	font-size: 11pt;
	margin: 0 0 0 0;
}
#upload-product .sell-type-div {
	margin: 7px 0 0 28px;
	font-size: 11pt;
}

#upload-product .input-location {
	position: absolute;
	margin: 0 0 0 110px;
}

#upload-product .input-location-address {
	position: absolute;
	margin: 0 0 0 355px;
}


#upload-product .only-line-div {
	width:640px;
	height: 1px;
	/* background-color: red; */
	margin: 0 0 0 12px;
}

#upload-product .progress-of-period-text{
	position: absolute;
	color: #6495ED;
	font-size: 11pt;
	margin: -20px 0 0 165px;
}
#upload-product .progress-of-period-text-stress {
	font-size: 20pt;
	font-weight:bold;
}

#upload-product .product-text-margin-date-total {
	margin:0px 20px 0 50px;
}
#upload-product .product-text-margin-price-total {
	margin:0 20px 0 160px;
}

#upload-product .product-file-upload {
	width: 90px;
	border:1px solid #ced4da;
	border-radius: 0 0.25rem 0.25rem 0 ;
	font-size:13px;
	background-color:#e9ecef;
}

#upload-product .product-not-append-div {
	width: 250px;
}
#upload-product .product-file-size {
	position: absolute;
	color: #6495ED;
	font-size: 10pt;
	margin: -5px 0 0 340px;
}
#upload-product .product-corps-file {
	position: absolute;
	color: #6495ED;
	font-size: 10pt;
	margin: -5px 0 0 260px;
}


#upload-product .product-total-bottom-text {
	font-size: 10pt;
	color: #808080;
	margin: 12px 0 0 0;
}
#upload-product .product-total-bottom-text-line {
	width: 668px;
	border-bottom: 1px solid #A0A0A0;
	height: 1px;
	margin: 15px 0 0 30px;
}
#upload-product .product-total-bottom-charge-text {
	font-size: 18pt;
	margin: 5px 0 5px 0;
}
#upload-product #productSubmitBtn {
	width: 180px;
	height: 40px;
	background-color: #1E90FF;
	border: none;
	border-radius: 8px;
	margin: 10px 0 0 0;
	color: white;
	font-size: 13pt;
	opacity: 0.8;
}
#upload-product #productSubmitBtn:hover {
	opacity: 1;
	
}

#upload-product .start-date-text-font {
	position: absolute;
	color: #404040;
	font-size: 11pt;
	margin: -10px 0 0 0;
}
#upload-product .end-date-text-font {
	position: absolute;
	color: #404040;
	font-size: 11pt;
	margin: -10px 0 0 100px;
}
#upload-product .end-center-start {
	position: absolute;
	color: #404040;
	font-size: 11pt;
	margin: -10px 0 0 80px;
	}
#upload-product #price-select-box {
	width: 42px;
	height: 38px;
	border-radius: 0 0.25rem 0.25rem 0;
	background-color: #e9ecef;
	color:#495057;
	border: 1px solid #ced4da;
}	

#upload-product .input-side-text-salePrice{
	color: #404040;
	font-size: 11pt;
	margin: -26px 0 50px 0;
	position: absolute;
}	

#upload-product .image-input-div {
	border-radius: 0.25rem 0 0 0.25rem;
	background-color: white;
}
	
.ck-editor__editable {
	height: 300px;
}
	
.ck-editor {
	min-width: 600px;	
	max-width: 600px;
}	